$purple: #B200FF;
$green: #00E766;
$red: #FF0000;
$orange: #FFC202;
$blue: #0078FF;


@media only screen and (min-width: 1080px){

  #navbar{
    background-color: black;
    width: 15vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    .logo{

      width: 70%;
      margin:2vw;
      &:hover{

        width: 75%;
        margin: calc(2vw - 2.5%);
      }
    }

  }

  .navbar-def{

    transform: translateX(-20vw);
  }

  .navbar-nav{

    transform: translateX(0vw);
  }

  .navbtn{

    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    color: #B0B0B0;
    margin: 1vw;
    
    div{
      width: 0%;
      background-color: black;
      height: 0.5vw;
      border-radius: 2vw;
      transition: all 0.3s ease;
    }
    
    h1{
      font-size: 2.5vw;
      margin: 0.5vw;
    }
    
    &:hover{
      div{
        width: 100%;
      }
    }
  }

  #navfab{
    width: 80px; 
    height: 80px;
    border-radius: 80px;
    background-color: red;
    border: 4px solid white;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    svg{
      width: 100%;
      height: 100%;
      fill: white;
      }
      &:hover{
  
        background-color: darkred;
      }
  }
  
  .navfab-def{
    bottom: 50px;
    left: 50px;
  
    svg{
  
      transform: rotateZ(0)
    }
  }
  
  .navfab-nav{
    bottom: 50px;
    left: calc(20vw - 120px);
    svg{
  
      transform: rotateZ(-180deg)
    }
  }
}


@media only screen and (max-width: 1080px){

  #navbar{
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .logo{

      width: 40%;
      margin-top: 5%;
      margin-left: 30%;

      &:hover{

        width: 45%;
        margin-top: 2.5%;
        margin-left: 27.5%;
      }
    }
  }

  .navbar-def{

    transform: translateX(100vw);
  }

  .navbar-nav{

    transform: translateX(0vw);
  }

  .btns{
    flex: 1;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navbtn{

    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    color: #B0B0B0;
    margin: auto;
    margin-top: 3vw;
    
    div{
      width: 0%;
      margin-left: 50%;
      background-color: black;
      height: 2vw;
      border-radius: 2vw;
      transition: all 0.3s ease;
    }
    
    h1{
      font-size: 8vw;
      margin: 0.5vw;
    }
    
    &:hover{
      div{
        width: 100%;
        margin-left: 0;
      }
    }
  }


  #navfab{
    width: 80px; 
    height: 80px;
    border-radius: 80px;
    background-color: red;
    border: 4px solid white;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    svg{
      width: 100%;
      height: 100%;
      fill: white;
      }
      &:hover{
  
        background-color: darkred;
      }
  }
  
  .navfab-def{
    bottom: 20px;
    right: 20px;
  
    svg{
  
      transform: rotateZ(180deg);
    }
  }
  
  .navfab-nav{
    bottom: 20px;
    right: calc(100vw - 110px);
    svg{
  
      transform: rotateZ(0);
    }
  }
}


// COLORS

.selected{

  color: white;
}

.nav-purple{
  div{
    background-color: $purple;
  }
  &:hover{
    color: $purple;
  }
}

.nav-blue{
  div{
    background-color: $blue;
  }
  &:hover{
    color: $blue;
  }
}

.nav-red{
  div{
    background-color: $red;
  }
  &:hover{
    color: $red;
  }
}

.nav-orange{
  div{
    background-color: $orange;
  }
  &:hover{
    color: $orange;
  }
}

.nav-green{
  div{
    background-color: $green;
  }
  &:hover{
    color: $green;
  }
}

// POINTER

#pointer{
  width: 40px;
  height: 40px;

  border-radius: 20px;
  z-index: 5;
  position: fixed;
  pointer-events: none;
  transition: all 0.1s ease;
}

.white{

  fill: white;
}


